<div class="all-projects-heading-container">
  <h1 class="all-projects">Your Projects</h1>
  <%= link_to 'NEW PROJECT', new_project_path, class: 'new-project-button btn btn-primary btn-lg'%>
</div>
<div class="container-fluid">
<p id="notice"><%= notice %></p>


<div class="row">

  <% @projects.each do |project| %>
    <%= link_to project do %>
     <div class="col-md-4">
          <span>
          <div class="index-card">


            <h1><%= project.name %></h1>
            <h2>Due in <%= time_ago_in_words(project.deadline) %></h2>
              <div class="milestone-list">
                <ul>
                  <% for @milestone in project.milestones %>
                      <li><%= @milestone.content %></li>
                  <% end %>

                </ul>
              </div>
            <span>
            
            <div class="project-buttons">
              <ul>
                <li><%= link_to image_tag("icons/view.png", height: '18', width: '18') + " VIEW", project, class: 'btn btn-primary' %></li>

               
                <li><div class="edit-button">  <%= link_to image_tag("icons/edit.png", height: '18', width: '18') + " EDIT",  edit_project_path(project), class: 'btn btn-primary' %></div></li>
             
                <li><div class="delete-button"> <%= link_to image_tag("icons/delete.png", height: '18', width: '18') + " DELETE", project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></div></li>
                
              </ul>
            </div><!--/project-buttons-->
            </span>
          </div><!--/index-card-->
          </span>
    </div><!--/col-md-4-->
    <% end %>
  <% end %>
</div>

</div><!--/container-fluid-->