<div class="project-flex-container">
<p id="notice"><%= notice %></p>
	<div class="project-container">


  <h1>Project: <%= @project.name %> | <%= link_to 'Edit', edit_project_path(@project) %> |</h1> 

  <h2>Due in:
  <%= @project.deadline %></h2>

	<h3>Milestones</h3>
		<%= render @project.milestones %>
	<%= render "milestones/form" %>

<%= link_to 'Back', projects_path %>
</div></div>